//reset
*{
    margin: 0;
    padding: 0;
}
//---------------------varibles
$Pcolor: hsl(72, 100%, 97%)	;

$P2color:	hsl(0, 0%, 98%);

$P3color: hsl(0, 0%, 94%);

$G1color: hsl(0, 1%, 54%);

$Scolor: hsl(15, 17%, 59%);

$Tcolor: hsl(35, 73%, 26%);

$Fcolor: hsl(19, 80%, 30%)	;

$Calert: hsl(355, 77%, 52%);

$Ccaution:hsl(240, 100%, 31%);

$Cdanger:hsl(34, 100%, 54%);

$Csucess:hsl(104, 73%, 29%);


//---------------------Header
.App-header{
    background: url('./ian-keefe.jpg') center no-repeat;
    background-size: cover;
    .title {
        font-size:4rem;
        margin-bottom: 5rem;
        line-height: 1.5rem;
        max-width: 290px;
        font-family:'Cormorant SC',serif;
    }
    .subTitle {
        margin-top: -4em;
        font-size: .9em;
        font-family:'Indie Flower', cursive;

    }
}
.App-intro{
    background: $P2color;
    grid-auto-rows: 40px;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    grid-gap: 2rem;
    .itemsShelf {

    
        .orders { 
            display: grid;
            text-decoration: none;
            list-style: none;
            text-align: left;
            grid-auto-rows: 40px;
            grid-template-columns: 10px 1fr 1fr 1fr 10px;
            grid-gap: 2rem;

            .button {
                background-color: $Csucess;
                position: absolute;
                right:0%;
                border: none;
                color: $P2color;
                padding: 8px 8px;
                text-align: center;
                justify-content: start;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
            }
            .button1 {
                background-color: $P2color; 
                color: $G1color; 
                border: 2px solid $Csucess;
                justify-content: start;
            }
            .button1:hover {
                background-color: $Csucess;
                color: $P2color;
            }
                li{
                padding: 1em;
                position: relative;
                padding: 3px; 
                border-radius: 1px; 
                color: $P3color(107,54,62,0.9); 
                background-color: $P3color;
                -webkit-transition: all 0.15s ease; 
                -moz-transition: all 0.15s ease; 
                transition: all 0.15s ease;
                background-size: 100% 200%; 
                background-position: 0 -100%; 
                background-image: linear-gradient(to top, transparent 50%, $Scolor 50%);
                grid-column: 2/3 span;
                }
                li:hover{
                    opacity: .8;
                    color: $P2color;
                    background-position: 0 0; 
                }
        }
    }
}
.mainCart {
    display: none;
    background: $Scolor;
    border: solid $G1color 1px;
    list-style: none;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    text-decoration: none;
    list-style-type:none;

    ul {
        text-decoration: none;
        grid-column: 3/4;
        list-style-type:none;
        li{
            left: 0%;
            text-decoration: none;
            list-style-type: none;
        }

    }
}
/*---------------------------------------nav/cart/sliderside*/

.toggleButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggleButton :focus{
    outline: none;
}

.toggleButtonLine {
    width: 25px;
    height: 2px;
    background: $P2color;
}


.sideDrawer {
    height:100%;
    background: $P2color;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
    position: fixed; 
    top:0;
    left: 0;
    width:240px;
    z-index: 200;
    transform: translatex(-100%);
    transition: 0.3s ease-out;
    .itemsShelf{
        display:none;
    }
}
.sideDrawer.open {
    transform: translateX(0);
    .itemsShelf{
        display:none;
    }
    .Cart{
        height:100%;

        .mainCart {
            display: grid;
            grid-template-columns: 40px 30px 95px 30px 40px;
            grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
            grid-auto-rows: 40px;
            background: $P3color;
            border-bottom: solid black 2px;
            list-style: none;
            text-decoration: none;
            list-style-type:none;
            justify-content: center;
            height:100%;

            .titleCart1{
                grid-column: 1;
                grid-row: 1;
                justify-content: center;
            }
            .titleCart2{
                grid-row:2;
                grid-column: 1/-1;
                border-bottom: black solid 1px;

            }
            hr{
                grid-row: 2;
                grid-column: 1/-1;
            }
            ul{
                top:20%;
                grid-column: 2/-1;
                grid-row:3/-2;
                display: relative;
            li{
                grid-column: 2/-1;
                grid-row: auto;
            }
            }
            .purchase{
                display:relative;
                grid-column: 2;
                grid-row: -1;
            }
            }
        }
    }
.sideDrawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $P3color;

}
.sideDrawer li {
    margin: 0.5rem 0;
}


.sideDrawer a{
    columns: $P2color;
    text-decoration: none;
}
.sideDrawer a:hover,
.sideDrawer a:active{
    color: $Tcolor;
}
@media (min-width: 4000px){
    .sideDrawer {
        display: none;
    }
}

.toolBar {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    height: 3em;
    z-index: 150;
}
.toolBarNav{
    display: flex;
    height:100%;
    align-items: center;
    padding: 0 1rem;
}
.toolBarLogo{
    position: absolute;
    text-align: center;
    right:0%;
}
.toolBarLogo a{
    color:$P2color;
    text-decoration: none;
    font-size: 2rem;
}
.spacer {
    flex:1;
}
  
.toolBarNavItems ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
}
.toolBarNavItems li{
    padding: 0 0.5rem;
}
.toolBarNavItems a{
    color:$P2color;
    text-decoration: none;
}

.toolBarNavItems a:hover,
.toolBarNavItems a:active {
    color: $Cdanger;
}

@media (max-width: 4000px){
    .toolBarNavItems{
        display: none;
    }
}
@media (max-width: 530px){
    @media(min-width:340px){
        .toolBarLogo a{
         font-size: 4vw;
         word-spacing:1vw ;
         text-align: center;
        }
    }
}
@media (max-width: 339px){
        .toolBarLogo a{
         font-size: 4vw;
         text-align: center;
        }
        .toolBar{
            height: 2em
        }
}
@media(min-width: 4000px) {
    .toolBarToggle{
        display:none;
    }
    .toolBarLogo{
        margin-left:0;
    }
}

.backdrop{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.icon {
    height:6vh;
    display:flex;
    svg{
        height:4vh;
        color: $P2color;
    }
};