//reset
*{
    margin: 0;
    padding: 0;
}
//---------------------varibles
$Pcolor: hsl(72, 100%, 97%)	;

$Scolor: hsl(15, 17%, 59%);

$Tcolor: hsl(35, 73%, 26%);

$Fcolor: hsl(19, 80%, 30%)	;

$Calert: hsl(355, 77%, 52%);

$Ccaution:hsl(240, 100%, 31%);

$Cdanger:hsl(34, 100%, 54%);

$Csucess:hsl(104, 73%, 29%);


//---------------------Header
.App-header{
    background: url('./ian-keefe.jpg') center no-repeat;
    background-size: cover;
}
.App-intro{
    height:100vh;
    background: $Scolor
}
.orders{ 
    display: grid;
    text-decoration: none;
    list-style: none;
    grid-template-rows: 3rem;
    grid-gap: 2rem;
        li{
         padding: 1em;
         padding: 3px; 
         border-radius: 1px; 
        color: rgba(107,54,62,0.9); 
        background-color: rgba(107,54,62,0.1);
        -webkit-transition: all 0.15s ease; 
        -moz-transition: all 0.15s ease; 
        transition: all 0.15s ease;
        background-size: 100% 200%; 
        background-position: 0 -100%; 
        background-image: linear-gradient(to top, transparent 50%, rgba(107,54,62,0.9) 50%);

        }
        li:hover{
            opacity: .8;
            color: #fff; 
            background-position: 0 0; 
        }
}
.mainCart {
    display:flex;
    position: relative;   
    background: $Scolor;
    border: solid black 1px;

}
